# /etc/haproxy/haproxy.cfg
#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    log /dev/log local0
    log /dev/log local1 notice
    daemon

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 1
    timeout http-request    10s
    timeout queue           20s
    timeout connect         5s
    timeout client          20s
    timeout server          20s
    timeout http-keep-alive 10s
    timeout check           10s

#---------------------------------------------------------------------
# apiserver frontend which proxys to the control plane nodes
#---------------------------------------------------------------------
frontend apiserver
    bind 192.168.20.100:8080
    mode tcp
    option tcplog
    default_backend apiserver

#---------------------------------------------------------------------
# round robin balancing for apiserver
#---------------------------------------------------------------------
backend apiserver
    option httpchk GET /healthz
    http-check expect status 200
    mode tcp
    option ssl-hello-chk
    balance     roundrobin
        server node1 192.168.20.10:6443 check
        server node2 192.168.20.11:6443 check
        server node3 192.168.20.12:6443 check

#---------------------------------------------------------------------
# apps frontend which proxys to 80/HTTP Traefik
#---------------------------------------------------------------------
frontend traefik-http
    bind 192.168.20.100:80
    mode tcp
    option tcplog
    default_backend traefik-http

#---------------------------------------------------------------------
# round robin balancing for traefik-http
#---------------------------------------------------------------------
backend traefik-http
    mode tcp
    balance     roundrobin
        server node1 192.168.20.13:32080 check
        server node2 192.168.20.14:32080 check
        server node3 192.168.20.15:32080 check

#---------------------------------------------------------------------
# apps frontend which proxys to 443/HTTPS Traefik
#---------------------------------------------------------------------
frontend traefik-https
    bind 192.168.20.100:443
    mode tcp
    option tcplog
    default_backend traefik-https

#---------------------------------------------------------------------
# round robin balancing for traefik-https
#---------------------------------------------------------------------
backend traefik-https
    mode tcp
    balance     roundrobin
        server node1 192.168.20.13:32443 check
        server node2 192.168.20.14:32443 check
        server node3 192.168.20.15:32443 check

